.outer-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.inner-flex {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem;
  background-color: #f4f4f4;
  padding: 3rem;
  border-radius: 5px;
  max-width: 20rem;
  text-align: center;
}
.bidbox-flex {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.inner-flex span {
  font-weight: 600;
  margin-top: 1rem;
}
